<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reservation</title>
</head>
<body>
<label>Vælg reservation</label>
<br>
<select id="ddSelectReservation">
  <option value="" selected="data-default" disabled="true">Reservationer</option>
</select>

<h2>Ny reservation</h2>
<div>
    <form action="http://localhost:8080/reservation" method="post" id="formReservation">
        <div>
            <select id="ddSelectTimeslot">
                <option value="" selected="data-default" disabled="true">Timeslot</option>
            </select>
        </div>
        <br>
        <div>
            <select id="ddSelectCustomer">
                <option value="" selected="data-default" disabled="true">Kunde</option>
            </select>
        </div>
        <br>
        <button type="submit" title="Gem" id="submit">Opret</button>
    </form>
</div>
<br><br>
<table class="table" id="tblReservation">
    <tr>
        <th>Id</th>
        <th>Kunde</th>
        <th>Timeslot</th>
        <th>Aktivitet</th>
    </tr>
</table>

<script src="../js/fetchReservation.js"></script>
<script src="../js/formReservation.js"></script>
<script src="../js/fetchTimeslotReservation.js"></script>
<script src="../js/fetchCustomerReservation.js"></script>
</body>
</html>